<!-- <lable for="imie">Imie: </lable> -->
<input type="text" id="imie" name="Imie" [(ngModel)]="imie" />
<!-- <lable for="nazwisko">Nazwisko: </lable> -->
<input type="text" id="nazwisko" name="Nazwisko" [(ngModel)]="nazwisko" />
<!-- <lable for="mail">Mail: </lable> -->
<input type="text" id="mail" name="mail" [(ngModel)]="email" />
<!-- <lable for="tytul">Mail: </lable> -->
<input type="text" id="tytul" [(ngModel)]="tytul" />
<!-- <lable for="tresc">Treść:</lable> -->
<input type="text" id="tresc" [(ngModel)]="tresc" />
<!-- <button type="submit">Sigma</button> -->


<p>Imie: {{imie}}</p><br>
<p>Nazwisko: {{nazwisko}}</p><br>
<p>Email: {{email}}</p><br>
<p>Tytył: {{tytul}}</p><br>
<p>Treść: {{tresc}}</p><br>
